{% extends 'base.html' %}

{% load static %}

{% block main-container-content %}
    <style>
      h2{
        color: #1eafbb;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      }
    </style>
    <div class="container">
      <div class="title" style="padding-top: 20px;">
        <h2>Sách hiện có</h2>
      </div>
    </div>
    <div class="container">
      <table class="table table-hover"> 
        <thead style="background-color: black; color: white;">
          <tr>
            <td>Mã sách</td>
            <td>Bìa sách</td>
            <td>Tên sách</td>
            <td>Tác giả</td>
            <td>Hành động</td>
          </tr>
        </thead>
        <tbody>
          {% for item in BF %}
          <tr>
            <td>{{ item.book_id }}</td>
            <td><img src="/web/media/{{item.cover_book}}" alt="cover book" class="img" style="width: 50px; height: 80px;"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>
              <button class="btn btn-secondary"><a href="/web/media/{{item.book}}" target="_blank" style="text-decoration: none; color: white;">Xem</a></button>
              <button class="btn btn-primary"><a href="/web/media/{{item.book}}"  download="" style="text-decoration: none; color: white;">Tải sách</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}